.infoBox{
    flex: 1;
    cursor: pointer;
}

.infoBox__content{
    background-color:  rgb(65, 61, 61);
    color: white;
}

/*  마지막 자식을 제외하고 마진을 준다. */
.infoBox:not(:last-child){
    margin-right: 10px;
}

.infoBox--selected{
    border-top: 10px solid greenyellow;
}
.infoBox--red{
    border-color: #003eb1;
}

.infoBox--orange{
    border-color: #990041;
}
.infoBox__cases--green{
    color: #039634 !important;
}
.infoBox__cases{
    color: #003eb1;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__total{
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}