.news__page{
    background-color: rgb(37, 33, 33);
    padding: 80px;
    display: flex;
    justify-content: space-evenly;
}

.news__page__more__info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0.8;
}

.news__page__more__info h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.news__page__more__info h2, .news__page__more__info h3{
    color: white;
}
.cnn__logo{
    width: 50px;
}
.cbc__logo{
    width: 25px;
}

.news__page_button{
    display: flex;
    margin-top: 20px;
}

.news_page_prevention{
    display: flex;
    justify-content: space-evenly;
}

.news_page_prevention i{
    font-size: 80px;
    color: white;
    margin-top: 50px;
}
.distance{
    text-align: center;
    color: white;
}
.distance h4{
    font-size: 20px;
    margin-top: 17px;
}

